h1 {
    text-align: center;
    font-size: 70px;
    background-color: rgba(149, 104, 255, 0.445);
    margin-top: 0%;
}

.box-1 {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}